:root {
    --main-color:#45425a;
    --second-color:#FCFCFC;
    --third-color:#b084cc;
    --fourth-color:#1B998B;
    --fifth-color:#fea82f;
    --sixth-color:#30363d;
}

body {
    background-size: 1200px;
    background-color: var(--sixth-color)
}


.infocard {
    padding-bottom: 15px; 
    background-color: var(--second-color);
    border-radius: 0% 0% 25% 25%;
    max-width: 900px;   
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;     
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.inner {
    padding: 30px;
    text-align: center;
    
}

.inner>span,i {
    font-size: 5rem;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    display: block;
}

.inner>span>img {
    max-width: 180px;
}



.wrapper {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    flex-flow: row wrap; 
    justify-content:center;
}

.sectionwrapper {
    border: #FCFCFC solid 4px;
}

.sectiontitle {
    font-size: 45px;
    color: var(--second-color);
    max-width: 250px;
    border: #FCFCFC solid 4px;
    padding-bottom: 5px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.sectiontitle:hover{
    background-color: #1B998B;
}

.sectiontitle:active{
    background-color: #1B998B;
}

.level{
    float: right;
}

.card-title{
    text-align: center;
    font-size: 35px;
    vertical-align: middle;
}

.card{
    transition: transform .2s;
}


.card:hover{
    transform: scale(105%);
}

.cardDetail{
    float: right;
}

.badge{
 margin-left: 5%;
}

.jumbotron{
    margin-top: 40px;
    border-radius: 30px;
    background-color: var(--fifth-color);
    
    box-shadow: 10px 10px var(--third-color);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-align: center;
}


.dropdown_link:hover{
    text-decoration: none; 
}
/* Characters */

#characterTable{
    width: 100%;
    
}

#characterTable>th, td, th{
    text-align: center;
    border: 4px solid var(--fourth-color);
    color: var(--second-color);
    background-color: var(--fifth-color);
}

#characterTable>td{
    padding: 20px;
}


/* Breakpoint changes */
@media (max-width: 575.98px) { 
.wrapper{
    padding-left: 5px;
    padding-right: 5px;
}
 }

 @media (min-width: 1200px)
{
    .container {
    max-width: 1700px;
    }
}